/* ESTILO GERAL */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@media (prefers-color-scheme: dark) {
    :root{

        /* fundos */
        --cor-de-fundo-header: #2e113a;
        --cor-topo-do-site: #2e113a;
        --cor-especialidades: #333232;
        --cor-sobre: #1f1f20;
        --cor-portfolio:#414141;
        --cor-formulario:#2E113A;
        --cor-footer: #0D0D0E;
        /* textos */
        --cor-txt-btn: #f4f4f7;
        --cor-h2-titulo: #E3E3EE;
        --cor-logo-p:#f4f4f7;
        --nav-menu-descktop:#c8c7cc;
        --nav-menu-descktop-a-hover:#f4f4f7;
        --topo-do-site-txt-topo-site-h1:#E3E3EE;
        --main-p:#ffffff;

    }
}

@media (prefers-color-scheme: light) {
    :root{

        /* fundos */
        --cor-de-fundo-header: #f4f4f7;
        --cor-topo-do-site: #e3eeeb;
        --cor-especialidades: #39d353;
        --cor-sobre: #c8c7cc;
        --cor-portfolio:#39d353;
        --cor-formulario:#39d353;
        --cor-footer: #000;
        /* textos */
        --cor-txt-btn: #fff;
        --cor-h2-titulo:#842774 ;
        --cor-logo-p:#333232;
        --nav-menu-descktop:#39d353;
        --nav-menu-descktop-a-hover:#0d0d0e00;
        --topo-do-site-txt-topo-site-h1:#000000;
        --main-p:#ffffff;

    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

body {
    background-color: var(--cor-de-fundo-header);
    height: 100vh; 
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

div.logo img {

    margin: 10px;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 600;
    background-color: #39d353;
    border: none;
    border-radius: 30px;
    color: var(--cor-txt-btn);
    cursor: pointer;


}

.btn-contato button:hover {
    box-shadow: 0px 0px 8px #08801c;
}

span {
    font-family: 'bebas neue';
    color: #08801c;
    font-size: 50px;
}

H2.titulo {
    color:var(--cor-h2-titulo);
    font-size: 40px;
    text-align: center;


}

p {
    font-size: 18px;
}



/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%;

}

.logo>h1 {
    font-family: 'bebas neue';
    font-size: 70px;
    color: #39d353;

}

.logo p {
    color:var(--cor-logo-p);
    font-size: 18px;
    font-weight: 600;
    margin-top: -15px;
    text-align: center;
}

.logo h3 {
    text-align: center;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav.menu-descktop a {
    color: var(--nav-menu-descktop);
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
}

nav.menu-descktop a:hover {
    color: var(--nav-menu-descktop-a-hover);
    text-shadow: 0px 0px 8px #ffffffa4;
    box-shadow: 0px 0px 8px #08801c;
    border-radius: 30px;
    padding: 5px 5px;
    transform: scale(1.05);
    transition: .2s;
}

header nav ul {
    list-style-type: none;

}

header nav ul li {
    display: inline;
    padding: 10px 40px;


}

/* estilo menu mobile */

.btn-abrir-menu {
    color: #39d353;
    font-size: 40px;
    cursor: pointer;
    display: none;
}

.overlay-menu {
    background-color: #0d0d0e83;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}

.menu-mobile {
    background-color: #0d0d0e;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu {
    width: 40%;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}

.menu-mobile nav ul {
    text-align: right;

}

.menu-mobile nav ul li {

    width: 100%;
}




.menu-mobile nav ul a {
    color: #f4f4f7;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: .2s;
}

.menu-mobile nav ul a:hover {
    background-color: #39d353;
    border-radius: 15px;
    color: #1f1f20;
    transform: scale(1.05);
    transition: .2s;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.btn-fechar i {
    color: #39d353;
    font-size: 40px;
    cursor: pointer;
}


/* ESTILO DO TOPO DO SITE */

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site .txt-topo-site h1 {
    margin-top: 40px;
    color: var(--topo-do-site-txt-topo-site-h1);
    font-size: 44px;
    line-height: 40px;
}



.topo-do-site .txt-topo-site p {
    color: var(--topo-do-site-txt-topo-site-p);
    margin: 40px 0;
}

.topo-do-site .img-topo-site {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    box-shadow: 0px 0px 30px #08801c;
    border-radius: 15px;
}

.img-topo-site p {
    font-family: 'bebas neue';
    color: #08801c;
    padding: 10px;
    font-size: 20PX;
    text-align: center;
    font-weight: 800;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */

.especialidades {
    background-color: var(--cor-especialidades);
    border-top: solid #c8c7cc;
}

h2 {
    margin-top: 40px;
    padding-top: 20px;
}

section.especialiadade-box {
    padding: 40px 4%;

}

section.especialidades .flex {
    gap: 44px;
    margin-bottom: 30px;
}

.especialidades .especialidades-box {
    color:var(--main-p);
    padding: 40px;
    border: 2px solid #f4f4f7;
    margin-top: 44px;
    margin-bottom: 50px;
    border-radius: 15px;
    transition: .2s;
}


.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #08801c;
}

.especialidades .especialidades-box i {
    font-size: 60px;
    color: #39d353;

}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO SOBRE */

section.topo-do-site {
    padding: 40px 4%;
}

section.sobre {
    margin-top: -30px;
    padding: 40px 4%;
    border-top: solid #08801c;
    background-image: radial-gradient(#1f1f20 75%, #08801c65);

}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.txt-sobre {
    width: 500px;
    margin: 0 auto;

    color:var(--cor-h2-titulo);

}

.sou-titulo .titulo-h2 {
    margin: 0;
    font-size: 34px;
    color: var(--cor-h2-titulo);
    text-align: center;
}

.img-sobre {
    display: flex;
    margin: auto;
}



.sobre .txt-sobre p {
    margin: 20px 0;
}

.btn-social {
    display: block;
    text-align: center;
    margin: 40px;
}

.btn-social a i {

    font-size: 30px;
    color: #39d353;
    background-color: #1f1f2000;
    border-color: none;
    margin: 10px;

}

.btn-social a i:hover {

    border: 2px solid #39d353;
    box-shadow: 0 0 8px #f4f4f7;
    border-radius: 5px;
    padding: 5px;

}

/* ESTILOS PORTFOLIO */
h2 {
    margin-bottom: 40px;
}

section.portfolio {
    margin-top: -30px;
    padding: 40px 4%;
    border-top: solid #c8c7cc;
    background-color: var(--cor-portfolio);
}

section.portfolio .flex {
    justify-content: space-around;
}


.portfolio-links {
    display: inline;

}

.flex ul li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
}


.img-port {
    margin: 10px;
    width: 380px;
    height: 250px;
    background-size: cover;
    background-position: 100% 0;
    transition: 5s;
    border: solid black 8px;
}

.img-port:hover {
    background-position: 100% 100%;
}

/* ESTILO DO FORMULÁRIO DE CONTATO */

section.formulario {
    padding: 80px 4%;
    border-top: solid #39d353;
}

form {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input {
    width: 100%;
    background-color:var(--cor-portfolio);
    color: var(--nav-menu-descktop-a-hover);
    border: none;
    border-radius: 15px;
    padding: 10px;
}

form textarea {
    background-color:var(--cor-portfolio);
    color: var(--main-p);
    padding: 10PX;
    border: none;
    border-radius: 15px;
    resize: none;
}

.btn-enviar input {
    width: 120px;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 600;
    background-color: #39d353;
    border: none;
    border-radius: 30px;
    color: var(--cor-txt-btn);
    cursor: pointer;
    transition: .5s;
}

.btn-enviar input:hover {
    box-shadow: 0 0 8px #39d353;
    transform: scale(1.05);
}

form .btn-enviar {
    text-align: center;
}

/* ESTILO DO FOOTER */

footer {
    border-top: solid #c8c7cc;
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px;
    background-color: var(--cor-footer);
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.logo-footer h1 {
    font-family: 'bebas neue';
    font-size: 70px;
    color: #39d353;

}

.logo-footer p {
    color: var(--main-p);
    font-size: 18px;
    font-weight: 600;
    margin-top: -15px;
}

.line-footer p {
    color: var(--main-p);
}

p i {
    font-size: 30px;
    color: #39d353;
    background-color: #0d0d0e00;
    border-color: none;
    margin: 10px;
}

.btn-social p i {
    border: 2px solid #39d353;
    box-shadow: 0 0 8px #f4f4f7;
    border-radius: 5px;
    padding: 5px;
}

.borda {
    border-top: 2px solid #08801c;

}


/* responsividade */

@media screen and (max-width: 1220px) {

    /* classes gerais */

    /* .interface {
        max-width: 600px;
        margin: 0 auto;
    } */
    body{
        
    }

    header {
        padding: 20px 5%;
    }

    .flex {
        flex-direction: column;
    }

    /* header */
    .menu-descktop,
    .btn-contato {
        display: none;
    }

    .btn-abrir-menu {

        display: block;
    }

    section.topo-do-site {
        padding: 20px 5%;
    }

    .logo {
        display: block;
      text-align: center;
    }

    .topo-do-site .txt-topo-site h1 {
        margin-top: 0;
        text-align: center;
    }

    .topo-do-site .txt-topo-site p {
        margin-bottom: 0;
    }

    .topo-do-site .img-topo-site {
        margin-bottom: 5px;
    }

    /* main */

    section.especialidades {
        padding: 20px 5%;
    }

    /* sobre */
    section.sobre {
        padding: 20px 10%;
    }

    section.txt-sobre {
        padding: 0;
        text-align: center;
        width: 0;
    }

    .sou-titulo .titulo-h2 {
        margin: auto;
        font-size: 34px;
        width: 300px;
        text-align: center;

    }

    .txt-sobre{
        width: 100%;
    }

    .sobre .txt-sobre p {
        text-align: center;
        width: 300px;
        margin: 0;
        margin-bottom: 10px;
    }

    .txt-sobre a{
        width: 0;
        display: inline;
    }

    div.btn-social {
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
    }

    /* portfolio */
    section.portfolio {
        padding: 20px 0%;
    }

    .portfolio-links{
        text-align: center;
    }

    .img-port {
        margin: 10px;
        width: 300px;
        height: 200px;

    }






    /* fonmulario */

    section.formulario {
        padding: 20px 5%;
    }

    /* rodapé */

    footer {
        padding: 40px 0%;
    }

    footer .flex {
        flex-direction: column;
    }

    footer .line-footer {
        text-align: center;
    }
}